<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KasperShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <a class="navbar-brand" href="/" style="color:white">KasperShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto" >

                @Html.Action("PagesMenuPartial", "Pages")

                @if (Request.IsAuthenticated)
                {
                    <li style="color:white"> @Html.ActionLink("Вийти з акаунту", "Logout", "Account", null, new { @class = "navbar-text", style = "text-decoration: none; color:white" }) @*<a href="/account/logout">Вийти з акаунту</a>*@ </li>
                }
                else
                {
                    if (ViewBag.Title == "Login")
                    {
                        <li class="navbar-text" style="color:white"> @Html.ActionLink("Логін", "Login", "Account", null, new { @class = "active", style = "text-decoration: none; color:white" }) </li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("Логін", "Login", "Account", null, new { @class = "navbar-text", style = "text-decoration: none; color:white" }) </li>
                    }
                }


                @if (Request.IsAuthenticated && User.IsInRole("User"))
                {
                    if (ViewBag.Title == "Профіль")
                    {
                        <li class="active" style="color:white"> @Html.Action("UserNavPartial", "Account", new { area = "" }) </li>
                    }
                    else
                    {
                        <li style="color:white"> @Html.Action("UserNavPartial", "Account", new { area = "" }) </li>
                    }
                }

            </ul>


            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <span class="navbar-text" >
                    @Html.ActionLink("Адмінка", "Index", "Dashboard", new { area = "Admin", style = "color:white"}, null)
                </span>
            }
            else
            {
                if (ViewBag.Title != "Корзина")
                {
                    <span class="navbar-text" style="color:white">
                        @Html.Action("CartPartial", "Cart")
                    </span>
                }
            }
        </div>
    </nav>

    
    <div class="container body-content" style="margin-top: 30px;">
        <div class="row">
            
            
            <div class="flex-column flex-shrink-0 p-4 bg-danger">
                @Html.Action("CategoryMenuPartial", "Shop")
            </div>
            

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col">
                    @RenderBody()
                </div>

                <div class="col-sm-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div class="col">
                    @RenderBody()
                </div>
            }


        </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – KasperShop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>